{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="small-8 columns">
        <svg id="chart">
        </svg>
        <input type="text" id="dataValue"/>
        <a class="button" id="insert">Insert</a>
        <a class="button" id="delete">Delete</a>
        <a class="button">Sort</a>
    </div>

<div class="small-4 columns">
    <div id="algostructure"></div>
    <a class="button">Edit</a>

</div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
