{% extends "ADSbase.html" %}
{% load staticfiles %}

{% block javascript %}
<script>
$(document).ready(function(){
    $.get('{% static "algorithms/sorting/bubblesort/algorithm.js" %}', function(data) {
        var lines = data.split('\n');
        for (line in lines) {
            $('#algostructure').append("<div id='line" + line + "'>" + lines[line] + "</div>");
        }
    });
});
</script>

<script>
$('#algostructure').noisy({
    'intensity' : 0.15,
    'size' : 200,
    'opacity' : 0.131,
    'fallback' : '',
    'monochrome' : false
}).css('background-color', '#FFFFFF');
</script>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static "algorithms/sorting/bubblesort/visualisation.js" %}"></script>
{% endblock %}
