{% extends "ADSbase.html" %}
{% load staticfiles %}

{% block javascript %}
<script>
$(document).ready(function(){
    $('#algostructure').load('{% static "algorithms/sorting/bubblesort/algorithm.js" %}');
});

/*var chart = $("#chart"),
aspect = chart.width() / chart.height(),
container = chart.parent();
$(window).on("resize", function() {
    var targetWidth = container.width();
    chart.attr("width", targetWidth);
    chart.attr("height", Math.round(targetWidth / aspect));
}).trigger("resize");*/

</script>

<script>
$('#algostructure').noisy({
    'intensity' : 0.15,
    'size' : 200,
    'opacity' : 0.131,
    'fallback' : '',
    'monochrome' : false
}).css('background-color', '#FFFFFF');
</script>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static "algorithms/sorting/bubblesort/visualisation.js" %}"></script>
{% endblock %}
